extends layout
block admin
    a(href="/home") <До бази продуктів
    table(class="usersTable salesTableList")
        thead
            tr
                th №
                th(class='adminTitle') Ім‘я
                th(class='adminTitle') Прізвище
                th(class='adminTitle') Логін
                th(class='adminTitle') Email
                th(class='adminTitle') Пароль
                th(class='adminActions') Дії
        tbody
            each user, i in users
                tr.d-line-item(id=user._id)
                    td=i+1
                    td.d-line
                        span(data-name='firstName', data-val=user.firstName, data-label='Ім‘я')=user.firstName
                    td
                        span(data-name='lastName', data-val=user.lastName, data-label='Прізвище')=user.lastName
                    td
                        span(data-name='login', data-val=user.login, data-label='Логін')=user.login
                    td
                        span(data-name='email', data-val=user.email, data-label='Email')=user.email
                    td.userPass
                        div.pass
                             span(data-name='password', data-val=user.password, data-label='Пароль')=user.password
                        div.showHidePass.hidePass
                    td.actionBtns
                        a(href='#', class='edit dialogData', dialog-template='editUser') Змінити
                        form(action='/removeUser/#{user._id}', ajax='true', ajax-success='removeLineItem')
                            input(type='submit', class='del', value='Видалити')
    a(href="/home") <До бази продуктів
