table(class='salesTableList soldCheckList')
	thead
		tr
			th.cNumber № чеку
			th.cClient Покупець
			th.cDate Дата
			th.cAmount Сума
	tbody
		-var totalAmount = 0;
		each check in salesList
			-totalAmount += +check.totalAmount;
			tr.d-line-item(id=check._id)
				td.cNumb
					form(action='/showCheck/#{check._id}', ajax='true', ajax-success='populateCheckDialog')
						input(type='hidden', name='checkNumb', value=check.checkNumb)
						input(type='submit', value=check.checkNumb)
				td.checkClient=check.clientFullName
				td.checkDate=getFormatedDate(check.date)
				td.checkAmount=check.totalAmount

		tr.checkAmount
			td.totalText(colspan='3') Загальна сумма: 
			td.totalAmount=totalAmount