include jadeFunctions
div.checkDetailsContainer
	a#print(href="javascript:window.print();", title="Печать") Печать
	div.checkDetails
		div.ws-field
			span.label № Чеку: 
			span.value=checkNumb
		div.ws-field
			span.label Покупець: 
			span.value=clientFullName
		div.ws-field
			span.label Дата продажу: 
			span.value=getFormatedDate(date)

	div.checkProdList
		h2.tableMainTitle Список товарів
		table.prodTable.salesTableList
			thead
				tr
					th.tableTitle Назва товару
					th.tableQty Кількість
					th.tableUnit Одиниця виміру
					th.tablePrice Ціна
					th.tableCoast Сумма
			tbody
				-var totalAmount = 0;
				each prod in prodList
					-totalAmount += +prod.amount;
					tr.t-field
						td.tableTitle=prod.title
						td.tableQty=floorN(prod.qty, 2)
						td.tableUnit=prod.unit
						td.tablePrice=floorN(prod.price, 2)
						td.tableCoast=floorN(prod.amount, 2)
				tr.tableAmountAmount
					td.totalText(colspan='3') Сумма чеку: 
					td.totalAmount(colspan='2')=floorN(totalAmount, 2)

