div(class='clientDetailsWrap')
	p Деталі клієнта
	div(class='twoColDetails')
		div(class='colItem')
			span(class='leftCol') Ім‘я: 
			span(class='rightCol')=clientDet.firstName
		div(class='colItem')
			span(class='leftCol') Прізвище: 
			span(class='rightCol')=clientDet.lastName
		div(class='colItem')
			span(class='leftCol') День народження: 
			span(class='rightCol')=clientDet.birthday
		div(class='colItem')
			span(class='leftCol') Email: 
			span(class='rightCol')=clientDet.email
		div(class='colItem')
			span(class='leftCol') Телефон: 
			span(class='rightCol')=clientDet.tel