div(class='clientDetailsWrap')
	h2.tableMainTitle Деталі кліэнта
	table.salesTableList 
		tbody
			tr
				td.align-right Ім‘я: 
				td=clientDet.firstName
			tr
				td.align-right Прізвище: 
				td=clientDet.lastName
			tr 
				td.align-right День народження: 
				td=clientDet.birthday
			tr
				td.align-right Email: 
				td=clientDet.email
			tr
				td.align-right Телефон:
				td=clientDet.tel