div(class="clientList")
    table(id='salesTableList', class="usersTable")
            thead
                tr
                    th Ім‘я
                    th День народження
                    th Email
                    th Телефон
                    th(class='actionBtnsTh') Дії
            tbody
                each client, i in clients
                    tr(class='line-item')
                        td
                            span(data-name='firstName', data-val=client.firstName )=client.firstName 
                            span(data-name='lastName', data-val=client.lastName)=client.lastName
                        td
                            span(data-name='birthday', data-val=client.birthday)=client.birthday
                        td
                            span(data-name='email', data-val=client.email)=client.email
                        td
                            span(data-name='tel', data-val=client.tel)=client.tel
                        td(class='actionBtnsTd')
                            a(href='/editClient', class='edit', data-template='editClientTemplate', clientid=client._id) Edit
                            form(action='/removeClient', ajax='true', ajax-success='removeLineItem')
                                input(type='hidden', name='clienId', value=client._id)
                                input(type='submit', class='del', value='Del')