extends layout
block popupEdit
	div#editProductPopup
		#closeBtn close
		h4 Корегування продукту :
		#editProductWraper
			input(type='text', placeholder='Назва продукту', id='nameProd')
			select(id='unitProd')
				option(value='шт')шт
				option(value='кг')кг
				option(value='л')л
				option(value='м')м
			input(type='text', placeholder='Кількість', id='qtyProd')
			input(type='text', placeholder='Ціна', id='priceProd')
			input(type='submit',  value='Змінити', id='applyEdits')
block home
	#leftSide
		h4#day Сьогодні: #{day}
		h3#titleLogin
			span(class="iconUser") Вітаю
			span#userName #{user}
			span !
		if(user == 'admin')
			h3#adminSettings
				a(href="/admin", title="settings") Адміністрування
		div(class="logout")
			a#logout(href='#') Вихід
		ul
			li(class='active')
				a(href='/home', class='adminLink') База продуктів
			li
				a(href='/clients', class='clientLink') База клієнтів
			li
				a(href='/salesPage', class='salesLink') Продаж
			li
				a(href='/report', class='reportLink') Генерація звіту

block products
	#rightSide
		block addForm
			form(action='/addProduct', method='GET', id='addProducForm')
				h4(id='addProdTitle') Додати продукт до бази
				input(type='text', name='nameProd', placeholder='Назва товару', id='nameProd')
				input(type='text', name='qtyProd', placeholder='Кількість', id='qtyProd')
				input(type='text', name='priceProd', placeholder='Ціна', id='priceProd')
				select(name='unit', id='unit')
					option(value='шт') шт
					option(value='кг') кг
					option(value='л') л
					option(value='м') м
				input(type='submit',  value='Додати')
			h2(class="tableTitle") База всіх продуктів
			#myTable
				table(id='tableList', class='tablesorter prodTable')
					thead
						tr
							th(id='tableThTitle', class='sort') Назва товару
							th(id='tableThQty') Кількість
							th(id='tableThUnit') Один. виміру
							th(id='tableThPrice') Ціна
							th(id='tableThCoast') Сумма
							th(id='tableThActions') Дії
					tbody
						each product in productsList
							tr(class='d-line-item', id=product._id)
								td
									span(data-name='title', data-val=product.title, data-label='Назва товару')=product.title
								td
									span(data-name='qty', data-val=product.qty, data-label='Кількість')=product.qty
								td
									span(data-name='unit', data-val=product.unit, data-label='Один. виміру')=product.unit
								td
									span(data-name='price', data-val=product.price, data-label='Ціна')=product.price
								td
									span(data-name='amount', data-val=product.price*product.qty, data-label='Сума')=product.price*product.qty
								td(class='actionBtnsTd')
									a(href='/editProduct', class='edit dialogData', dialog-template='editProduct', dialog-before-show='editProdDialog', clientid=product._id) Змінити
									form(action='/removeProd/#{product._id}', ajax='true', ajax-success='removeLineItem')
										input(type='hidden', name='_id', value=product._id)
										input(type='submit', class='del', value='Видалити')
			h4(id='tableListError', style='display:none') База продуктів порожня.