extends layout
block script
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="excanvas.min.js"></script><![endif]-->
	script(src='/js/jquery.flot.js')
	script(src='/js/jquery.flot.time.js')
block home
	#leftSide
		h4#day Сьогодні: #{day}
		h3#titleLogin
			span(class="iconUser") Вітаю
			span#userName #{user}
			span !
		if(user == 'admin')
			h3#adminSettings
				a(href="/admin", title="settings") Адміністрування
		div(class="logout")
			a#logout(href='#') Вихід
		ul
			li
				a(href='/home', class='adminLink') База продуктів
			li
				a(href='/clients', class='clientLink') База клієнтів
			li
				a(href='/salesPage', class='salesLink') Продаж
			li(class='active')
				a(href='/report', class='reportLink') Генерація звіту

block mainContent
	#rightSide
		div.getReport
			h2(class="reportTitle") Отримання статистичних даних
			div.reportForm(class='clearfix')
				form(action='/getReport', ajax='true', ajax-success='renderReport')
					div.d-line-item
						label Клієнт
						select(name='clientId', value='noName')
							option(value='') Всі клієнти
							option(value='noName') Загальний
							each client in clientList
								option(value=client._id) #{client.firstName} #{client.lastName}
						input(type='hidden', name='clientFullName', value='Загальний')
					div.d-line-item
						label Період з
						input#datepicker(type='text', name='timeFrom')
					div.d-line-item
						label Період по
						input#datepicker2(type='text', name='timeTill')
					div.d-line-item
						label Тип отриманих даних
						select(name='reportType', value='popularProduct')
							option(value='salesChecks', selected='selected') Реалізовані чеки
							option(value='salesStatistic') Статистика продажу
					div.d-line-item
						input.generateReport(type='submit', value='Згенерувати')
					a#clearReportResults.del.clearDomElement(href="#", title="Очистити", data-clear-selector='.reportResults') Очистити
					a(id="print", href="javascript:window.print();", title="Печать") Печать
			div.reportResults
			div#errorReport