extends layout
block home
	#leftSide
		h4#day Сьогодні: #{day}
		h3#titleLogin
			span(class="iconUser") Вітаю
			span#userName #{user}
			span !
		if(user == 'admin')
			h3#adminSettings
				a(href="/admin", title="settings") Адміністрування
		div(class="logout")
			a#logout(href='#') Вихід
		ul
			li
				a(href='/home', class='adminLink') База продуктів
			li
				a(href='/clients', class='clientLink') База клієнтів
			li(class='active')
				a(href='/salesPage', class='salesLink') Продаж
			li
				a(href='/report', class='reportLink') Генерація звіту

block products
	#rightSide
		div#salesListGroup
			div#searchProdList.clearfix
				form(action='#', ajax='true', ajax-before='addProdToSalesList')
					table(class="saleForm salesTableList")
						thead
							tr
								th.sClienList Клієнт
								th.sProdName Назва товару
								th.sProdQty Кількість
								th.sProdUnit Одиниця Вимірювання
								th.sProdPrice Ціна
								th.sProdSumm Сумма
						tbody
							tr(class='d-line-item', id='searchProdFrom')
								td.sClienList.ws-field
									select(name='clientId', value='noName')
										option(value='noName') Загальний
										each client in clientList
											option(value=client._id) #{client.firstName} #{client.lastName}
									input(type='hidden', name='clientFullName', value='Загальний')
								td.sProdName.ws-field
									input(type='text', name='title', placeholder='Назва товару', id='searchProd', autocomplete="off", data-validate-type='attrVal ifAdded')
									input(type='hidden', name='_id', id='searchProdId')
									div#searchResults(style='display:none')
										ul
								td.ws-field
									input(type='text', name='qty', placeholder='Кількість', id='searchProdQty', autocomplete="off", data-validate-type='floatNumb availQty')
									input(type='hidden', name='maxQty', id='searchProdMaxQty')
								td.ws-field
									input(type='text', name='unit', placeholder='Одиниця Вимірювання', id='searchProdUnit', disabled='disabled')
								td.ws-field
									input(type='text', name='price', placeholder='Ціна', id='searchProdPrice', disabled='disabled')
								td.ws-field
									input(type='text', name='amount', placeholder='Сумма', id='searchProdSumm', disabled='disabled')
					input(type='submit', value='+Чек')
			div#salesList
				#checkList(style='display:none')
					form.checkForm(action='/saleCheck')
						input.btnSell(type='submit', title='ctr+enter', value='Продати')
						div.d-line-item
							h2.client(data-name='clientId', data-val='')
						h2.tableMainTitle Чек
						table#tableListCheck.prodTable
							thead
								tr
									th.tableTitle Назва товару
									th.tableQty Кількість
									th.tableUnit Одиниця Вимірювання
									th.tablePrice Ціна
									th.tableCoast Сумма
									th.tableActions Дії
							tbody
								tr.tableAmount
									td.totalText(colspan='3') Сумма чеку: 
									td.totalAmount(colspan='3') 0.00
				
				-var salling = 0;

				h2.tableMainTitle Список реалізованих чеків станом на сьогодні
				include checkList